
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<h1>Burası Şehir Paneli</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ülke</th>
        <th>Şehir</th>
        <th>Nüfus</th>
        <th>Bayrak</th>
    </tr>
    <tr>
        <td>@ViewBag.v1</td>
        <td>@ViewBag.v2</td>
        <td>@ViewBag.v3</td>
        <td>@ViewBag.v4</td>
        <td>@ViewBag.v5 @ViewBag.v6 @ViewBag.v7</td>
    </tr>
    <tr>
        <td>@ViewBag.z1</td>
        <td>@ViewBag.z2</td>
        <td>@ViewBag.z3</td>
        <td>@ViewBag.z4</td>
        <td>@ViewBag.z5 @ViewBag.z6 @ViewBag.z7</td>
    </tr>
</table>
<a href="/Default/Urunler/" class="btn btn-info">Ürünlere Git</a>