
@{
    Layout = null;
}

<a href="/Default/Index/">Index Sayfası</a>
<a href="/Default/Musteriler/">Müşteriler Sayfası</a>

<h1>Ürünler Sayfası</h1>
<h3>@ViewBag.m1</h3>
<h3>@ViewBag.m2</h3>
<h3>@ViewBag.m3</h3>
<h3>Toplam: @ViewBag.t</h3>
<h3>Çevre: @ViewBag.c</h3>
<h3>@ViewBag.v</h3>
<h1>Faktöriyel: @ViewBag.faktor</h1>
